html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  div#search-container {
    position: relative;
    img {
      background-color: inherit;
      height: 25px;
      position: absolute;
      right: 20px;
      top: 5px;
      cursor: pointer;
    }
  }
}

#location {
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
}

#search-input {
  border-radius: 20px;
  width: 300px;
  height: 30px;
  margin-right: 10px;
  padding-left: 10px;
  font-size: 16px;
}

.days-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.days-container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  opacity: 85%;
  width: 250px;
  height: 275px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-size: 24px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  margin-right: 15px;
  .title {
    text-align: center;
    font-size: 24px;
  }
  background-color: rgb(243, 243, 243);
}

.invisible {
  display: none;
}

.active {
  animation: 1s make-active 1;
  animation-fill-mode: forwards;
}

.clear {
  background-color: skyblue;
  animation: 50s darken-clear infinite linear;
}
.snowy {
  background-color: darkcyan;
}
.rainy {
  background-color: rgb(34, 104, 235);
  animation: 50s darken-rainy infinite linear;
}
.cloudy {
  background-color: rgb(14, 143, 248);
  animation: 50s darken-cloudy infinite linear;
}
.overcast {
  background-color: black;
}
#clear {
  animation: 200s sun-movement infinite linear;
  position: fixed;
  top: -50px;

  img {
    height: 300px;
  }
  z-index: -1;
}
#snowy {
  position: fixed;
  top: 0;
  z-index: -1;
}
#rainy {
  position: fixed;
  top: 0;
  z-index: -1;
  animation: 50s move infinite linear;
  :nth-child(1) {
    height: 100px;
    width: 200px;
    top: 150px;
    left: 300px;
    position: fixed;
  }
  :nth-child(2) {
    position: fixed;
    left: 800px;
    top: 100px;
  }
  :nth-child(3) {
    height: 100px;
    width: 200px;
    margin-top: 70px;
    margin-right: 35px;
  }
  :nth-child(4) {
    position: fixed;
    top: 150px;
    left: -200px;
  }
  :nth-child(5) {
    position: fixed;
    left: 500px;
    top: 175px;
  }

  img {
    padding-top: none;
    margin-top: none;
    margin-bottom: 50px;
    height: 150px;
    width: 250px;
    margin-right: 75px;
  }
}
#cloudy {
  position: fixed;
  top: 0px;
  z-index: -1;
  animation: 50s move infinite linear;

  :nth-child(1) {
    height: 200px;
    width: 300px;
  }
  :nth-child(3) {
    height: 200px;
    width: 300px;
  }

  img {
    padding-top: none;
    margin-top: none;
    height: 400px;
    width: 500px;
    margin-right: 25px;
  }
}
#overcast {
  position: fixed;
  top: 0;
  z-index: -1;
}

@keyframes make-active {
  to {
    width: 260px;
    height: 290px;
    border: 2px solid black;
  }
}

@keyframes move {
  to {
    transform: translateX(100%);
  }
}

@keyframes sun-movement {
  to {
    transform: translateY(100%);
  }
}

@keyframes darken-cloudy {
  to {
    background-color: rgb(43, 63, 71);
  }
}

@keyframes darken-clear {
  to {
    background-color: rgb(43, 63, 71);
  }
}

@keyframes darken-rainy {
  to {
    background-color: rgb(12, 32, 70);
  }
}
