html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#location {
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
}

#search-input {
  height: 15px;
  margin-right: 10px;
}

.days-container {
  margin: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.days-container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 250px;
  height: 275px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  margin-right: 15px;
  .title {
    text-align: center;
    font-size: 24px;
  }
  background-color: rgb(243, 243, 243);
}

.invisible {
  display: none;
}

.active {
  animation: 1s make-active 1;
  animation-fill-mode: forwards;
}

.clear {
  background-color: skyblue;
}
.snowy {
  background-color: darkcyan;
}
.rainy {
  background-color: blue;
}
.cloudy {
  background-color: rgb(14, 143, 248);
}
.overcast {
  background-color: black;
}
#clear {
  position: fixed;
  top: 0;
  z-index: -1;
}
#snowy {
  position: fixed;
  top: 0;
  z-index: -1;
}
#rainy {
  position: fixed;
  top: 0;
  z-index: -1;
}
#cloudy {
  position: fixed;
  top: 0px;
  z-index: -1;
  animation: 30s move infinite linear;

  :nth-child(1) {
    height: 200px;
    width: 300px;
  }
  :nth-child(3) {
    height: 200px;
    width: 300px;
  }

  img {
    padding-top: none;
    margin-top: none;
    height: 400px;
    width: 500px;
    margin-right: 25px;
  }
}
#overcast {
  position: fixed;
  top: 0;
  z-index: -1;
}

@keyframes make-active {
  to {
    width: 260px;
    height: 290px;
    border: 1px solid blue;
  }
}

@keyframes move {
  to {
    transform: translateX(100%);
  }
}
